# RF output
logs
**/output.xml
**/interactive_console_output.xml
**/log.html
**/report.html
**/*screenshot*.png
playwright-log.txt
browser/

# auto generated docs
**/docs/**/*.html

__pycache__/
venv/
.DS_Store
