oracledb
robotframework
robotframework-seleniumlibrary
robotframework-databaselibrary
robotframework-datadriver[XLS]
robotframework-browser
robotframework-robocop
robotframework-libtoc
webdrivermanager